@mixin boxCommonCode {
    background-repeat: no-repeat;
    width: 100%;
    height: 304px;
    padding: 40px;
    box-shadow: 5px 3px 20px 4px #00000036;
}
@mixin BoxAreaChildCode {
    small{
        color: $yellowColor;
    }
    h2{
        color: #fff;
        font-family: fantasy;
    }
    button {
        border: none;
        background: no-repeat;
        color: $yellowColor;
        font-weight: bold;
        border-bottom: 3px solid $yellowColor;
        padding: 10px 0;
        font-size: 12px;
        width: 30%;
      }
}
@mixin featuredGame {
    background-repeat: no-repeat;
    width: 100%;
    height: 432px;
    padding: 40px;
    box-shadow: 5px 3px 20px 4px #00000036;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@mixin banner_img {
    background-repeat: no-repeat;
    width: 100%;
    height: 415px;
    background-size: 100% 100%;
}
@mixin techBlogProperty {
    padding: 6rem 0 4rem 0;
}
@mixin backgroundSizeConten {
    background-size: contain;
    height: 180px;
}