$bluebg: #008ecc;
$yellowColor: #ffc311;
$marginRight: 40px;
$boxBackgroundImage_box1:  linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../images/box-1.jpg');
$boxBackgroundImage_box2:  linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../images/box-2.jpg');
$boxBackgroundImage_box3:  linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../images/box-1.jpg');
$featured_game1: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../images/featured_game1.jpg');
$featured_game2: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../images/featured_game2.jpg');
$featured_game3: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../images/featured_game3.jpg');
$banner_images: url('../images/bannerGame1.jpg');
$banner_images2: url('../images/bannerGame2.jpg');
$fontFamilyForBold: fantasy;